* {
    box-sizing: border-box;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 90vh;
}

.menu {
    display: flex;
    justify-content: space-evenly;
}